
@tailwind preflight;
@tailwind utilities;

:root {
  --background: #fdf6ec;
  --foreground: #7c2d12;
  --primary: #f97316;
  --primary-foreground: #ffffff;
}

.dark {
  --background: #000000;
  --foreground: #fb923c;
  --primary: #ea580c;
  --primary-foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}


html {
  cursor: none; /* hides the default cursor */
}
